/* CalendarStyles.css */
.react-calendar {
     border: none;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     font-family: 'Arial', sans-serif;
     width: auto;
   }
   
   .react-calendar__navigation {
     background-color: #2563EB;
     color: white;
     border-radius: 10px 10px 0 0;
   }
   
   .react-calendar__tile {
     padding: 10px;
     background: #f4f4f4;
     border-radius: 6px;
     transition: background-color 0.3s ease;
   }
   
   .react-calendar__tile--active {
     background-color: #2563EB;
     color: white;
   }
   
   .react-calendar__tile:hover {
     background-color: #d4edda;
   }
   

   